@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Category page</h1>
<div align="right"><a class="btn btn-primary" asp-controller="Category" asp-action="Add"><img src="/Icons/Add.png">Add Category Item</a></div>
    


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style=" background-color:darkorange">
                Category Name
            </th>
            <th style=" background-color:darkorange">
                Display Order
            </th>
            <th style=" background-color:darkorange">
                Id
             </th>
            <th style=" background-color:darkorange">
                DateTime
            </th>
        </tr>
    </thead>
    <body style=" background-color:turquoise">
        @foreach(var obj in Model)
        {
            <tr>
                <td width="15%">
                    @obj.Name
                  
                </td>
                <td width="15%">
                    @obj.DisplayOrder
                </td>

                <td width="15%">
                    @obj.Id
                </td>

               <td width="15%">
                    @obj.CreatedDateTime
                </td> 

                <td>
                    <a class="btn " asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><img src="/Icons/Add.png">Edit</a>
                    <a class="btn " asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><img src="~/Icons/Reyansh.png"/>Delete</a>
                    <a class="btn " asp-controller="Category" asp-action="Datetime" asp-route-id="@obj.Id">Datetime</a>
                </td>

            </tr>
        }
  </body>
</table>
<div>The result count is @Model.Count()</div>